// ------------------------------
// // edX Web Certificates: Base

// About: Base resets and definitions (using shared resources from elements when appropriate).

// ------------------------------
// #RESET
// ------------------------------

// ------------------------------
// #BASE
// ------------------------------
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $white;
}

body {
    font-size: 1rem;
    font-family: $font-family-main;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-osx-font-smoothing: auto !important;
}

// ------------------------------
// #TYPOGRAPHY
// ------------------------------
a,
.btn-link {
  color: $base-color;

  &:hover {
    color: $base-color-hover;
  }
}

.btn-primary:hover {
  background: $base-color-hover !important;
}

.btn-primary,
.btn-outline-primary {
  border-color: $base-color;

  &:hover {
    border-color: $base-color;
  }

  &:not(:disabled, .disabled).active,
  &:not(:disabled, .disabled):active,
  &:not(:disabled, .disabled):focus {
    background-color: $base-color-hover;
    border-color: $base-color-hover;
    color: $white;
  }
}

.btn-outline-primary:hover {
    background-color: $base-color !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    border-color: $base-color-hover;
}

// ------------------------------
// #ICONS
// ------------------------------
.edx-e {
    fill: $edx-e-color;
}

.edx-e-d-overlap {
    fill: $edx-e-d-overlap-color;
}

.edx-d {
    fill: $edx-d-color;
}

.edx-d-x-overlap {
    fill: $edx-d-x-overlap-color;
}

.edx-x {
    fill: $edx-x-color;
}
