// ------------------------------
// // edX Web Certificates: Components

// About: styling for specific UI components ranging from global to modular.

// #HEADER APP
// #BANNER
// #INTRODUCTION
// #SUPPORT
// #FOOTER

// ------------------------------
// #HEADER APP
// ------------------------------
.wrapper-header {
    @extend %divider-2;
    border-bottom-color: $gray-200;
    background: $header-bg;
}

.header-app {

    .logo {
        @extend %reset-link;
    }
}


// ------------------------------
// #BANNER
// ------------------------------
.wrapper-banner-user {
  background-color: $primary-500;
  border-top: none;
  border-bottom: 1px solid $gray-400;
  color: $gray-100;
}

.banner-user {

    .message-title {
        @extend .h6;
        color: $gray-100;
        font-weight: $font-weight-bold;

        @include media-breakpoint-up(md) {
            font-size: $font-size-lg; // @extend .h5;
        }
    }

    .message-copy {
        @extend %text-meta;
        color: $gray-100;

        @include media-breakpoint-up(md) {
            font-size: $font-size-base;
        }
    }

    .message-actions-box {
      @extend .p-1;
      display: inline-block;
      border: 1px solid $gray-100;
      border-radius: $card-border-radius;
      background-color: $gray-300;
    }

    .action {
      @extend .btn;
      @extend .rounded;
      border: 1px solid transparent;
      padding: 0.625rem;
      background-color: transparent;
      font-size: $font-x-large;
      color: $gray-600;

      .share-link {
        text-decoration: none;
        color: inherit;
      }

      .icon {
        display: block;
        height: 1em;
        width: 1em;
        margin: 0 -2px -2px 0; // center icons
        fill: currentColor;
        font-style: normal;
      }

        .action-label {
          @include margin-right(0.3125rem);
        }

        // CASE: icon display only
        &.icon-only {

            .action-label {
                @extend .sr-only;
            }
        }

        &:hover {
          background-color: $gray-100;
          color: $link-hover-color;
        }

        &.action-share-facebook:hover {
          background-color: $facebook-blue;
          color: $gray-100;
        }

        &.action-share-twitter:hover {
          background-color: $twitter-blue;
          color: $gray-100;
        }

        &.action-share-linkedin:hover {
          background-color: $linkedin-blue;
          color: $gray-100;
        }
    }
}


// ------------------------------
// #SUPPORT
// ------------------------------
.support-copy {
  @extend %text-meta;
}

.accomplishment-metadata-title {
  @extend %h7;
}

.accomplishment-metadata-copy {
  @extend %text-meta;

  .metadata-copy-list {
    @extend .list-unstyled;
    @extend .mb-4;
  }

  .emphasized {
    font-weight: $font-weight-bold;
  }
}


// ------------------------------
// #FOOTER
// ------------------------------

.footer-app-nav {

    .list {
        @extend .list-unstyled;

        .nav-item {
          display: inline-block;
          @extend .mr-2;
        }
    }
}

.footer-app-related {

  .logo-openedx {
    width: 120px;
  }
}

// RG footer

footer.wrapper-footer {
    width: 100%;
    background: $footer-bg;
    padding: 50px 0;
    box-sizing: border-box;
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .1);
    border-top: 1px solid #c5c6c7;

    .holder {
        max-width: 1230px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .footer-nav-list {
        display: flex;
        align-items: center;
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        justify-content: center;

        @include media-breakpoint-down(xs) {
            flex-wrap: wrap;
        }

        .footer-nav-item {
            margin: 0 8px;
            text-align: center;
            font-size: 16px;
            line-height: 20px;

            @include media-breakpoint-down(xs) {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        .footer-nav-link {
            font-size: 16px;
            line-height: 20px;
            color: $footer-nav-link-color !important;

            &:visited,
            &:active,
            &:focus {
                color: $footer-nav-link-color !important;
            }

            &:hover {
                border-bottom: none;
                text-decoration: none;
                color: $footer-nav-link-color-hover !important;
            }
        }
    }

    .footer-holder {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        min-height: 40px;

        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
        }
    }

    .footer-logo {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0 0 15px;

        &:hover {
            opacity: .8;
        }

        @include media-breakpoint-up(lg) {
            margin: 0;
            width: auto;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(calc(-50% + 20px));
        }

        img {
            height: $footer-logo-height;
        }
    }

    .footer-support {
        font-size: 12px;
        line-height: 1.2px;
        color: $footer-support-text-and-logo;
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: -6px;
        font-style: italic;

        @include media-breakpoint-up(lg) {
            width: auto;
            position: absolute;
            left: -13px;
            transform: translateY(calc(-50% + 20px));
        }

        .open-edx-link {
            display: block;
            position: relative;

            img {
                display: block;
                width: 100px;
            }
        }

        .rg-link {
            display: flex;
            align-items: center;
            color: inherit;
            text-decoration: none;
            position: relative;
            top: 2px;
            left: -2px;

            @include media-breakpoint-down(md) {
                top: 1px;
            }

            &:active,
            &:hover,
            &:focus {
                color: $footer-support-text-and-logo;
                opacity: .8;
                text-decoration: none;
            }

            svg {
                margin-left: 7px;
                width: 23px;
                height: 23px;
                position: relative;

                &.svg-raccoon-white {
                    fill: $footer-support-text-and-logo;
                }
            }
        }
    }

    .footer-social-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto 15px;
        padding: 0;
        list-style: none;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }

        .footer-social-item {
            margin: 0 5px;
            width: 35px;
            height: 35px;

            @include media-breakpoint-down(md) {
                margin-bottom: 5px;
            }
        }

        .icon-list_link {
            display: block;
            width: 100%;
            height: 100%;
        }

        .footer-social-icon {
            width: 100%;
            height: 100%;
            fill: $footer-social-link-bg;

            &:hover,
            &:focus,
            &:active {
                fill: $footer-social-link-bg-hover;
            }
        }
    }
}
