$em-base: 16; // deliberately sets bourbon-based em-base (http://bourbon.io/docs/#em-base)
$dark-gray: rgb(17, 16, 16);
$twitter-blue: #55ACEE;
$facebook-blue: #3B5998;
$linkedin-blue: #0077B5;

$micromasters-color: #065784;
$micromasters-watermark-color: #005585;
$xseries-color: #424242;
$professional-certificate-color: #9a2061;
$professional-certificate-watermark-color: $xseries-color;

$edx-e-color: #b72768;
$edx-e-d-overlap-color: #78212e;
$edx-d-color: #8a8c8f;
$edx-d-x-overlap-color: #026ba4;
$edx-x-color: #209fda;

// Font sizes
// Taken from edx-pattern library and put here as vars.
$font-xxxx-large: 2.375rem;
$font-xxx-large: 1.75rem;
$font-xx-large:1.5rem;
$font-x-large: 1.313rem;
$font-large:1.125rem;
$font-base:1rem;
$font-small:0.875rem;
$font-x-small:0.75rem;
$font-xx-small:0.688rem;
$font-xxx-small:0.625rem;

// Font weights
$font-weight-normal:400;
$font-weight-light:300;
$font-weight-x-light:200;
$font-weight-semi-bold:600;
$font-weight-bold:700;

//Line height vars
$line-height-large: 1.6;
$line-height-small: 1.5;

// custom brand colors
$base-color: #61b4e4;
$base-color-hover: darken($base-color, 20%);
$header-bg: #083954;
$header-logo-height: 29px;

// don't link style me, bro!
%reset-link {
    border-bottom: none;
    padding: 0;

    &:hover, &:focus, &:active {
        border-bottom: 0;
    }
}

.img-link {
    @extend %reset-link;
}

%divider-2 {
    border-bottom-width: 2rem;
    border-bottom-style: solid;
}

// Replacement for pattern-library classes
%text-micro {
  font-size: $font-x-small;
  line-height: $line-height-small;
}

%text-meta {
  font-size: $font-size-sm;
  line-height: $line-height-lg;
}

%h7 {
  @extend .h6;
  @extend %text-meta;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

$font-family-main: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

// RG footer variables
$footer-bg: $header-bg;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: darken($footer-nav-link-color, 20%);
$footer-logo-height: 60px;
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #00afaa;
$footer-social-link-bg-hover: lighten($footer-social-link-bg, 20%);
