{% load i18n %}
{% load static %}

<footer class="wrapper wrapper-footer">
    <div class="holder">
        <nav>
            <ul class="footer-nav-list">
                <li class="footer-nav-item"><a class="footer-nav-link" href="{{ site.siteconfiguration.lms_url_root }}/about">{% trans "About" as tmsg %}{{ tmsg | force_escape }}</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="{{ site.siteconfiguration.privacy_policy_url }}">{% trans "Privacy Policy" as tmsg %}{{ tmsg | force_escape }}</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="{{ site.siteconfiguration.tos_url }}">{% trans "Terms of Service" as tmsg %}{{ tmsg | force_escape }}</a></li>
                <li class="footer-nav-item"><a class="footer-nav-link" href="{{ site.siteconfiguration.lms_url_root }}/support/contact_us">{% trans "Contact Us" as tmsg %}{{ tmsg | force_escape }}</a></li>
            </ul>
        </nav>
        <div class="footer-holder">
            <ul class="footer-social-list">
                <li class="footer-social-item">
                    <a href="#" target="_blank" class="icon-list_link">
                        <svg class="footer-social-icon" viewBox="0 0 35 35"><use xlink:href="{% static 'edx.org/images/svg-sprite.svg' %}#ico-facebook"></use></svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="#" target="_blank" class="icon-list_link">
                        <svg class="footer-social-icon" viewBox="0 0 35 35"><use xlink:href="{% static 'edx.org/images/svg-sprite.svg' %}#ico-twitter-x-circle"></use></svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="#" target="_blank" class="icon-list_link">
                        <svg class="footer-social-icon" viewBox="0 0 35 35"><use xlink:href="{% static 'edx.org/images/svg-sprite.svg' %}#ico-linkedin"></use></svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="#" target="_blank" class="icon-list_link">
                        <svg class="footer-social-icon" viewBox="0 0 35 35"><use xlink:href="{% static 'edx.org/images/svg-sprite.svg' %}#ico-youtube"></use></svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="#" target="_blank" class="icon-list_link">
                        <svg class="footer-social-icon" viewBox="0 0 35 35"><use xlink:href="{% static 'edx.org/images/svg-sprite.svg' %}#ico-telegram"></use></svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="#" target="_blank" class="icon-list_link">
                        <svg class="footer-social-icon" viewBox="0 0 35 35"><use xlink:href="{% static 'edx.org/images/svg-sprite.svg' %}#ico-instagram"></use></svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="#" target="_blank" class="icon-list_link">
                        <svg class="footer-social-icon" viewBox="0 0 35 35"><use xlink:href="{% static 'edx.org/images/svg-sprite.svg' %}#ico-envelope"></use></svg>
                    </a>
                </li>
            </ul>
            <a class="footer-logo" href="{{ site.siteconfiguration.lms_url_root }}">
                <img src="{% static 'edx.org/images/logo-footer.svg' %}" alt="rg-logo">
            </a>
            <p class="footer-support">
                <a class="open-edx-link" target="_blank" href="https://open.edx.org/">
                    <img alt="Powered by Open edX" src="https://files.edx.org/openedx-logos/open-edx-logo-tag-dark.png">
                    <!--<img alt="Powered by Open edX" src="https://files.edx.org/openedx-logos/open-edx-logo-tag.png"> - for light footer-->
                </a>
                <a class="rg-link" target="_blank" rel="nofollow" href="https://raccoongang.com/">
                    by Raccoon Gang
                    <svg class="svg-raccoon-white"  viewBox="0 0 100 100"><use xlink:href="{% static 'edx.org/images/svg-sprite.svg' %}#logo-raccoon" /></svg>
                    <!--<svg class="svg-raccoon-colored"  viewBox="0 0 65 53"><use xlink:href="{% static 'edx.org/images/svg-sprite.svg' %}#logo-raccoon-colored" /></svg> for light footer -->
                </a>
            </p>
        </div>
    </div>
</footer>
